<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<div class="header">
		<h1>SHOUTING STAR</h1>
		<p>Bienvenid@</p>
	</div>
	<div  class="menu">
		<a href="layout.html">Inicio</a>
		<a href="webtoon.html">Webtoon</a>
		<a href="shoujo.html">Shoujo</a>
		<a href="One-shot.html">One-shot</a>
	</div>

	<div class="contenido">
		<div class="izquierd">
			<div class="it">
				<img src="portadadeimitation.jpg" alt="" class="imitation">
				<hr>
				<i><h2 class="letra">INFORMACIÓN</h2></i>
				<hr>
				<h4 style="color: #00b8ff">Titulo:</h4>Imitation
	<h4 class="descripcion">Autor:</h4>Park Hyung ran
	<h4 class="descripcion">Genero:</h4>Romance, Drama, Musica<br><br>


	 Maha es miembro del grupo de chicas, Tea Party. Ella se hizo famosa imitando a otras estrellas populares y por esta misma razón, Ryoc, un miembro de la banda de chicos, Tiburones, tiene un fuerte odio hacia ella. Sin embargo, a medida que continúan cruzándose, sus sentimientos hacia Maha comienzan a cambiar y su relación se convierte en un romance inesperadamente dulce que ahora deben esconderse de todos a su alrededor.

 
</body>
</html>

