<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Document</title>
	<link rel="stylesheet" href="estilos.css">
</head>
<body>
	<div class="header">
		<h1>SHOUTING STAR</h1>
		<p>Bienvenid@</p>
	</div>
	<div  class="menu">
		<a href="layout.html">Inicio</a>
		<a href="webtoon.html">Webtoon</a>
		<a href="shoujo.html">Shoujo</a>
		<a href="One-shot.html">One-shot</a>
	</div>
	<div class="contenido">
		<div class="izquierda">
			<div class="item">
				<h2></h2>
				<h5></h5>
				<img src="bienvenido.png" alt="" class="imagen">
				<p>
				<img src="seccion.png" alt="" class="sec">
				<p>

				<a href="webtoon.html" title="webt">
				<img src="webtoon.jpg" alt="webt" class="web">
				</a>

                <a href="shoujo.html" title="shou">
				<img src="shoujo.jpg" alt="shou" class="web">
				</a>

				<p>
				<a href="One-shot.html" title="one">
				<img src="One-shot.png" alt="one" class="shot">
				</a>

				
			</div>
			
		</div>
		<div class="derecha">
			<div class="item">
				<h2></h2>
				<img src="magzines.jpg" alt="" width="250px">
				<p>
				<img src="graciaspor.jpg" alt="" width="250px">
				
			</div>
			
		</div>
		
	</div>
	<div class= "footer">
		<h2> &copy; 2019</h2>
	</div>

 
</body>
</html>